
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/universities">University</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tours">Tour</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/participants">Participant</a>
            </li>
        </ul>
    </div>
</nav>